* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f4f9;
  color: #222;
}


.form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  background: rgb(255, 255, 255);
  padding: 60px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
  margin: 140px auto;
  outline: none;
  border: black 0.5px solid;
}

.submit-bttn {
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
}

.submit-bttn button {
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  background: #555;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.submit-bttn button:hover {
  color: #ffffff;
  border-color: #6d676b;
  transform: scale(1.02);
  box-shadow: 0 0 20px rgba(99, 93, 99, 0.868);
}

.User-text {
  padding: 10px auto;
}

.username {
  margin: 30px auto;
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 18px;
}

.username a:hover {
  background: #ffd3f2;
  color: #fff;
  border-color: #f7b2f7;
}

.password {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 18px;
}

.name {
  background: #ffffff;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  padding: 10px 15px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 18px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: 0.9rem;
}
